.pixiv-quick-tag-work-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #cccccc55;
  border-radius: 0.5rem;

  .pixiv-quick-tag-input-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .pixiv-quick-tag-apply-section {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button {
      flex-grow: 1;
    }
  }

  input[type='text'],
  button {
    min-width: 0;
    height: 1.75rem;
    background-color: transparent;
    padding: 0 0.5rem;
    border: 1px solid #cccccc55;
    border-radius: 0.25rem;

    &::placeholder {
      color: #cccccc55;
    }

    &:focus {
      outline: none;
      border-color: #cccccc;
    }
  }

  button {
    &:enabled:hover {
      background-color: #cccccc55;
    }

    &[aria-invalid='true'] {
      border-color: #ff2c2c82;
      color: #ff2c2c;
    }
  }
}
